Django==4.2.11
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-cors-headers==4.3.1
django-ratelimit==4.1.0
django-filter==23.5
Pillow==10.3.0
psycopg2-binary==2.9.9
cloudinary==1.39.1
django-cloudinary-storage==0.3.0
python-decouple==3.8
pytest==8.1.1
pytest-django==4.8.0
pytest-cov==5.0.0
factory-boy==3.3.0
faker==24.9.0
coverage==7.4.4
channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
celery==5.3.6
redis==5.0.3
django-celery-beat==2.6.0
whitenoise==6.6.0
gunicorn==21.2.0
